body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../pictures/bg.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black tint with 50% opacity */
    z-index: -1;
}

.service-desk-header {
    color: white;
    margin-bottom: 20px;
    text-align: center;
    z-index: 2; /* Ensuring it appears above the tint */
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    z-index: 2; /* Ensuring it appears above the tint */
}

.logo img {
    width: 200px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 97%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: hwb(120 25% 63%);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #6D8F6D;
}

.signup-link {
    margin-top: 15px;
}

.signup-link a {
    color: #007BFF;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.or-separator {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.or-separator hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.or-separator span {
    margin: 0 10px;
    color: #999;
}

.google-login button {
    background: none;
    border: none;
    cursor: pointer;
}

.google-login img {
    width: 200px;
}
